<a href="https://colab.research.google.com/github/mateosuster/pythonungs/blob/master/codigos/manipulacion_de_datos/2_Pandas_Indexing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Indexación y Agregación 

Tabla de Contenidos

    I. Índices
    II. Exploración
        I. Filtrando un DataFrame (Indexing)
            I. Boolean Indexing
                I. Máscara booleana
                II. Máscara booleana con muchas condiciones
            II. Boolean indexing con query()
            III. Fancy Indexing
        II. Funciones de Agregación
    IV. Otros análisis descriptivos
        I. Para las variables numéricas
        II. Para las variables categóricas
        III. Ordenar por columnas y limitar la cantidad de resultados

## Índices

Los índices acompañan a las series y a los Data Frames. Son conjuntos ordenados e inmutables de elementos. Volvamos a levantar el dataset de salarios de funcionarios como ejemplo.

In [1]:
import pandas as pd
df = pd.read_csv('http://cdn.buenosaires.gob.ar/datosabiertos/datasets/sueldo-funcionarios/sueldo_funcionarios_2019.csv')

In [ ]:
df.index

RangeIndex(start=0, stop=385, step=1)

In [ ]:
df.shape

(385, 10)

In [ ]:
df.columns

Index(['cuil', 'anio', 'mes', 'funcionario_apellido', 'funcionario_nombre',
       'reparticion', 'asignacion_por_cargo_i', 'aguinaldo_ii',
       'total_salario_bruto_i_+_ii', 'observaciones'],
      dtype='object')

In [ ]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [ ]:
ind[1] = 0

TypeError: ignored

### Ejercicio Titanic exploratorio
Exploren el dataset público que se encuentra en la siguiente url: https://osf.io/aupb4/download ¿De qué se trata? ¿Cuántas filas tiene? ¿Cuántas columnas? Al leerlo, pueden almacenarlo en la variable df_titanic.

## Filtrando un DataFrame (Indexing)

Hay muchas técnicas para filtrar un DataFrame. Podemos querer filtrar por columnas o por filas, por posición o por nombre. También podemos querer filtrar por condiciones que se cumplen o no. Cuando no queremos filtrar sobre una dimensión (filas o columnas) usamos ":" para seleccionar todo.

Existe un método muy práctico con el cual podemos acceder a filas y columnas que se realiza mediante las instrucciones **`.iloc[]`** (utilizando el número de índice/posición) o usando **`.loc[]`** (mediante el nombre del índice o columna).



```
#con .iloc (selección implícita)
NombreDataFrame.iloc[numero_filas, numero_columnas]

#con .loc (selección explícita)
NombreDataFrame.loc[nombre_indice, nombre_columnas]
```

![](https://shanelynnwebsite-mid9n9g1q9y8tt.netdna-ssl.com/wp-content/uploads/2016/10/Pandas-selections-and-indexing-1024x731.png)

### Boolean Indexing

Supongamos que queremos tomar el dataset de funcionarios y quedarnos únicamente con los que pertenecen al Ministerio de Cultura.
Para eso lo que hacemos es indexar al DataFrame por una condición booleana. Eso implica que debemos crear una serie compuesta por valores True y False para aplicarla como índice a las filas.

Los operadores que sirven para evaluar condiciones sobre las series son:


| S  | Descripción   | S  | Descripción   |   |
|----|---------------|----|---------------|---|
| >= | Mayor o Igual | <= | Menor o Igual |   |
| == | Igual         | != | Distinto      |   |
| >  | Mayor         | <  | Menor         |   |

#### Máscara booleana

Veamos lo que pasa cuando le aplicamos a una serie una condición que devuelve un booleano

In [6]:
df['asignacion_por_cargo_i'] > 270000

0      False
1      False
2      False
3      False
4      False
       ...
380    False
381     True
382     True
383    False
384    False
Name: asignacion_por_cargo_i, Length: 385, dtype: bool

Nos devuelve una serie de la misma longitud que la original y que contiene sólo valores True o False.

In [16]:
mascara_booleana = df['asignacion_por_cargo_i'] > 270000

In [ ]:
type(mascara_booleana)

pandas.core.series.Series

In [ ]:
mascara_booleana.shape

(385,)

In [ ]:
mascara_booleana.dtype

dtype('bool')

Como la máscara posee las posiciones donde se cumple o no la condición, luego podemos quedarnos con solo las filas que sí la cumplen por medio de indexar el dataframe con este Series resultante.

In [17]:
df[mascara_booleana]

,cuil,anio,mes,funcionario_apellido,funcionario_nombre,reparticion,asignacion_por_cargo_i,aguinaldo_ii,total_salario_bruto_i_+_ii,observaciones
252,27-24483014-0,2019,9,ACUÑA,MARIA SOLEDAD,Ministerio de Educación e Innovación,275089.75,0.00,275089.75,NaN
253,20-13872301-2,2019,9,ASTARLOA,GABRIEL MARIA,Procuración General de la Ciudad de Buenos Aires,275089.75,0.00,275089.75,NaN
254,20-25641207-2,2019,9,AVOGADRO,ENRIQUE LUIS,Ministerio de Cultura,275089.75,0.00,275089.75,NaN
255,27-13221055-7,2019,9,BOU PEREZ,ANA MARIA,Ministerio de Salud,275089.75,0.00,275089.75,NaN
256,27-13092400-5,2019,9,FREDA,MONICA BEATRIZ,Sindicatura General de la Ciudad de Buenos Aires,275089.75,0.00,275089.75,NaN
257,20-17110752-1,2019,9,MACCHIAVELLI,EDUARDO ALBERTO,Ministerio de Ambiente y Espacio Público,275089.75,0.00,275089.75,NaN
258,20-22293873-3,2019,9,MIGUEL,FELIPE OSCAR,Jefatura de Gabinete de Ministros,275089.75,0.00,275089.75,NaN
259,20-14699669-9,2019,9,MOCCIA,FRANCO,Ministerio de Desarrollo Urbano y Transporte,275089.75,0.00,275089.75,NaN
260,20-24941711-5,2019,9,MURA,MARTIN,Ministerio de Economía y Finanzas,275089.75,0.00,275089.75,NaN
261,20-21981279-6,2019,9,SCRENCI SILVA,BRUNO GUIDO,Ministerio de Gobierno,275089.75,0.00,275089.75,NaN
262,27-24030362-6,2019,9,TAGLIAFERRI,GUADALUPE,Ministerio de Hábitat y Desarrollo Humano,275089.75,0.00,275089.75,NaN
263,20-23864572-8,2019,9,STRAFACE,FERNANDO DIEGO,SECR General y de Relaciones Internacionales,275089.75,0.00,275089.75,NaN
283,27-24483014-0,2019,10,ACUÑA,MARIA SOLEDAD,Ministerio de Educación e Innovación,275089.75,0.00,275089.75,NaN
284,20-13872301-2,2019,10,ASTARLOA,GABRIEL MARIA,Procuración General de la Ciudad de Buenos Aires,275089.75,0.00,275089.75,NaN
285,20-25641207-2,2019,10,AVOGADRO,ENRIQUE LUIS,Ministerio de Cultura,275089.75,0.00,275089.75,NaN
286,27-13221055-7,2019,10,BOU PEREZ,ANA MARIA,Ministerio de Salud,275089.75,0.00,275089.75,NaN
287,27-13092400-5,2019,10,FREDA,MONICA BEATRIZ,Sindicatura General de la Ciudad de Buenos Aires,275089.75,0.00,275089.75,NaN
288,20-17110752-1,2019,10,MACCHIAVELLI,EDUARDO ALBERTO,Ministerio de Ambiente y Espacio Público,275089.75,0.00,275089.75,NaN
289,20-22293873-3,2019,10,MIGUEL,FELIPE OSCAR,Jefatura de Gabinete de Ministros,275089.75,0.00,275089.75,NaN
290,20-14699669-9,2019,10,MOCCIA,FRANCO,Ministerio de Desarrollo Urbano y Transporte,275089.75,0.00,275089.75,NaN
291,20-24941711-5,2019,10,MURA,MARTIN,Ministerio de Economía y Finanzas,275089.75,0.00,275089.75,NaN
292,20-21981279-6,2019,10,SCRENCI SILVA,BRUNO GUIDO,Ministerio de Gobierno,275089.75,0.00,275089.75,NaN
293,27-24030362-6,2019,10,TAGLIAFERRI,GUADALUPE,Ministerio de Hábitat y Desarrollo Humano,275089.75,0.00,275089.75,NaN
294,20-23864572-8,2019,10,STRAFACE,FERNANDO DIEGO,SECR General y de Relaciones Internacionales,275089.75,0.00,275089.75,NaN
314,27-24483014-0,2019,11,ACUÑA,MARIA SOLEDAD,Ministerio de Educación e Innovación,275089.75,0.00,275089.75,NaN
315,20-13872301-2,2019,11,ASTARLOA,GABRIEL MARIA,Procuración General de la Ciudad de Buenos Aires,275089.75,0.00,275089.75,NaN
316,20-25641207-2,2019,11,AVOGADRO,ENRIQUE LUIS,Ministerio de Cultura,275089.75,0.00,275089.75,NaN
317,27-13221055-7,2019,11,BOU PEREZ,ANA MARIA,Ministerio de Salud,275089.75,0.00,275089.75,NaN
318,27-13092400-5,2019,11,FREDA,MONICA BEATRIZ,Sindicatura General de la Ciudad de Buenos Aires,275089.75,0.00,275089.75,NaN
319,20-17110752-1,2019,11,MACCHIAVELLI,EDUARDO ALBERTO,Ministerio de Ambiente y Espacio Público,275089.75,0.00,275089.75,NaN
320,20-22293873-3,2019,11,MIGUEL,FELIPE OSCAR,Jefatura de Gabinete de Ministros,275089.75,0.00,275089.75,NaN
321,20-14699669-9,2019,11,MOCCIA,FRANCO,Ministerio de Desarrollo Urbano y Transporte,275089.75,0.00,275089.75,NaN
322,20-24941711-5,2019,11,MURA,MARTIN,Ministerio de Economía y Finanzas,275089.75,0.00,275089.75,NaN
323,20-21981279-6,2019,11,SCRENCI SILVA,BRUNO GUIDO,Ministerio de Gobierno,275089.75,0.00,275089.75,NaN
324,27-24030362-6,2019,11,TAGLIAFERRI,GUADALUPE,Ministerio de Hábitat y Desarrollo Humano,275089.75,0.00,275089.75,NaN
325,20-23864572-8,2019,11,STRAFACE,FERNANDO DIEGO,SECR General y de Relaciones Internacionales,275089.75,0.00,275089.75,NaN
365,27-13092400-5,2019,12,FREDA,MONICA BEATRIZ,Sindicatura General de la Ciudad de Buenos Aires,275089.75,137544.87,412634.62,NaN
367,27-24483014-0,2019,12,ACUÑA,MARIA SOLEDAD,Ministerio de Educación,275089.75,137544.87,412634.62,NaN
368,20-25641207-2,2019,12,AVOGADRO,ENRIQUE LUIS,Ministerio de Cultura,275089.75,137544.87,412634.62,NaN
369,20-24941711-5,2019,12,MURA,MARTIN,Ministerio de Hacienda y Finanzas,275089.75,137544.87,412634.62,NaN
373,20-22293873-3,2019,12,MIGUEL,FELIPE OSCAR,Jefatura de Gabinete de Ministros,275089.75,137544.87,412634.62,NaN
374,20-13872301-2,2019,12,ASTARLOA,GABRIEL MARIA,Procuración General de la Ciudad de Buenos Aires,275089.75,170855.56,445945.31,NaN
381,20-23864572-8,2019,12,STRAFACE,FERNANDO DIEGO,SECR General y Relaciones Internacionales,275089.75,137544.87,412634.62,NaN
382,20-21981279-6,2019,12,SCRENCI SILVA,BRUNO GUIDO,Ministerio de Gobierno,275089.75,137544.87,412634.62,NaN

Ahora seleccionemos entonces, los registros que corresponden al Ministerio de Cultura.

In [ ]:
df_min_cul = df.loc[df['reparticion'] == 'Ministerio de Cultura',:]

In [ ]:
# Veamos la cantidad de casos
df_min_cul.shape

(12, 10)

Algo que puede llegar a confundir sobre el Indexing en Pandas es que en algunos casos se puede ser menos explícito a la hora de filtrar. Por ejemplo si ponemos una condición Booleana, pandas asume que el tipo de indexing es loc y que el filtro es sobre las filas y no sobre las columnas:

In [ ]:
df_min_cul = df[df['reparticion'] == 'Ministerio de Cultura']

In [ ]:
df_min_cul.shape

(12, 10)

Probemos con otra condición.

### Ejercicio sueldos mitad de año

Traer todos los sueldos de la segunda mitad del año...

### Ejercicio Titanic sobrevientes
Volviendo al DataFrame del Titanic ¿Cuántos pasajeros sobrevivieron y cuántos no?

#### Máscara booleana con muchas condiciones

Ahora tratemos de filtrar el dataset por dos condiciones: por ejemplo tomar los sueldos de abril de la secretaria de innovación. 
Para eso tenemos que combinar dos máscaras booleanas con una condición.

| S | Descripcion        | S  | Descripcion |   |
|---|--------------------|----|-------------|---|
| & | AND (y)            | \| | OR (o)      |   |
| ^ | XOR (o exclusivo)  | ~  | NOT (no)    |   |



Por ejemplo: seleccionemos los casos donde o bien se haya cobrado aguinaldo o bien el salario total haya sido mayor que 240.000, pero no las dos cosas.

In [ ]:
df[(df['total_salario_bruto_i_+_ii'] > 240000) ^ (df['aguinaldo_ii'] > 0)]

,cuil,anio,mes,funcionario_apellido,funcionario_nombre,reparticion,asignacion_por_cargo_i,aguinaldo_ii,total_salario_bruto_i_+_ii,observaciones
55,20-26781618-3,2019,2,LARRE,PEDRO ANDRES,"SECR Ciencia, Tecnologia e Innovacion",204017.27,34002.88,238020.15,baja 28/2/2019
97,27-24483014-0,2019,4,ACUÑA,MARIA SOLEDAD,Ministerio de Educación e Innovación,249661.60,0.00,249661.60,NaN
98,20-13872301-2,2019,4,ASTARLOA,GABRIEL MARIA,Procuración General de la Ciudad de Buenos Aires,249661.60,0.00,249661.60,NaN
99,20-25641207-2,2019,4,AVOGADRO,ENRIQUE LUIS,Ministerio de Cultura,249661.60,0.00,249661.60,NaN
100,27-13221055-7,2019,4,BOU PEREZ,ANA MARIA,Ministerio de Salud,249661.60,0.00,249661.60,NaN
...,...,...,...,...,...,...,...,...,...,...
360,20-28908968-4,2019,12,COELHO CHICANO,CHRISTIAN,SS Contenidos,74991.86,110404.68,185396.54,baja al 9/12
361,20-28908968-4,2019,12,COELHO CHICANO,CHRISTIAN,SECR de Medios,187539.45,15628.29,203167.74,alta desde el 10/12
362,20-24424714-9,2019,12,D'ALESSANDRO,MARCELO SILVIO,SECR Justicia y Seguridad,74991.86,110404.68,185396.54,baja al 9/12
363,20-24424714-9,2019,12,D'ALESSANDRO,MARCELO SILVIO,SECR Justicia y Seguridad,187539.45,15628.29,203167.74,alta desde el 10/12
384,27-27011181-0,2019,12,FERNANDEZ,KARINA BEATRIZ,SECR Asuntos Estratégicos,187539.45,15628.29,203167.74,alta desde el 10/12

Ahora veamos los sueldos de febrero de la SECR Ciencia, Tecnologia e Innovacion.

In [ ]:
df[(df['mes'] == 2) & (df['reparticion'] == 'SECR Ciencia, Tecnologia e Innovacion')]

,cuil,anio,mes,funcionario_apellido,funcionario_nombre,reparticion,asignacion_por_cargo_i,aguinaldo_ii,total_salario_bruto_i_+_ii,observaciones
55,20-26781618-3,2019,2,LARRE,PEDRO ANDRES,"SECR Ciencia, Tecnologia e Innovacion",204017.27,34002.88,238020.15,baja 28/2/2019

### Boolean indexing con query()

La sintaxis que se utiliza para hacer Boolean indexing es un poco repetitiva. Noten que filtrar (aún en su expresión más corta sin loc ni especificar filas o columnas) implica ESCRIBIR DOS VECES el nombre del dataset. Para crear un shortcut, Pandas ofrece la función .query()

In [ ]:
df_cult = df.query('reparticion == "Ministerio de Cultura"')
df_cult.head()

,cuil,anio,mes,funcionario_apellido,funcionario_nombre,reparticion,asignacion_por_cargo_i,aguinaldo_ii,total_salario_bruto_i_+_ii,observaciones
4,20-25641207-2,2019,1,AVOGADRO,ENRIQUE LUIS,Ministerio de Cultura,224516.62,0.0,224516.62,NaN
36,20-25641207-2,2019,2,AVOGADRO,ENRIQUE LUIS,Ministerio de Cultura,224516.62,0.0,224516.62,NaN
68,20-25641207-2,2019,3,AVOGADRO,ENRIQUE LUIS,Ministerio de Cultura,231167.76,0.0,231167.76,NaN
99,20-25641207-2,2019,4,AVOGADRO,ENRIQUE LUIS,Ministerio de Cultura,249661.60,0.0,249661.60,NaN
130,20-25641207-2,2019,5,AVOGADRO,ENRIQUE LUIS,Ministerio de Cultura,249661.60,0.0,249661.60,NaN

También se puede hacer query sobre múltiples condiciones.

In [ ]:
df2 = df.query('asignacion_por_cargo_i > 240000 & aguinaldo_ii > 0')

In [ ]:
df2.shape

(34, 10)

### Fancy Indexing

Ahora vamos a quedarnos con un subconjunto de columnas del DataFrame.

In [ ]:
df_view = df.loc[:,['anio','mes']]

In [ ]:
df_view.shape

(385, 2)

Existe una forma menos explícita de hacer esta misma operación. Si pasamos una lista al indexing, pandas asume que el tipo de indexing es loc y que el filtro es sobre las columnas y no las filas:

In [ ]:
df_view = df[['anio','mes']]

In [ ]:
df_view.shape

(385, 2)

Fíjense lo que pasa si tratamos de acceder a filas utilizando una lista de nombres, en este caso [3,8].

In [ ]:
# Incorrecto
df_view = df[[3,8]]

KeyError: ignored

Nos da un error porque cuando pasamos únicamente una lista al indexing, pandas asume que queremos un set de columnas y si los nombres no existen, da error. La forma correcta de hacerlo es pasar una lista de índices y explicitar que vamos a indizar con loc y que seleccionamos todas las columnas.

In [ ]:
# Correcto
df_view = df.loc[[3,8],:]

In [ ]:
df_view

,cuil,anio,mes,funcionario_apellido,funcionario_nombre,reparticion,asignacion_por_cargo_i,aguinaldo_ii,total_salario_bruto_i_+_ii,observaciones
3,20-13872301-2,2019,1,ASTARLOA,GABRIEL MARIA,Procuración General de la Ciudad de Buenos Aires,224516.62,0.0,224516.62,NaN
8,20-22293873-3,2019,1,MIGUEL,FELIPE OSCAR,Jefatura de Gabinete de Ministros,224516.62,0.0,224516.62,NaN

Podemos utilizar una lista con números para filtrar con el método .iloc

In [ ]:
df.iloc[:,[3,8]] #Traigo todas las filas y las columnas 3 y 8

### Ejercicio Titanic sobrevivientes por género
¿Cuántos hombres y mujeres sobrevivieron según los datos del Titanic?

## Funciones de Agregación

Utilizando Pandas podemos aplicar funciones a nivel de columna. Algunas funciones predefinidas son la media, el desvío estándar y la sumatoria, el valor máximo y el mínimo.

Algunas de las funciones de agregación más comunes son:

<ul>
    <li>min</li>
    <li>max</li>
    <li>count</li>
    <li>sum</li>
    <li>prod</li>
    <li>mean</li>
    <li>median</li>
    <li>mode</li>
    <li>std</li>
    <li>var</li>
</ul>

In [ ]:
df['mes'].max()

12

In [ ]:
df['asignacion_por_cargo_i'].mean()

234234.3679999999

In [ ]:
df['asignacion_por_cargo_i'].std()

35043.16008466176

In [ ]:
df['total_salario_bruto_i_+_ii'].sum()

97988834.36000001

Podemos combinar los filtros que vimos antes con las funciones de agregación para responder preguntas cómo ¿Cuál fue en gasto en asignaciones de funcionarios para la Secretaría de Medios 2019? ¿Y para la de Justicia y Seguridad?

In [ ]:
df[df['reparticion'] == 'SECR de Medios']['total_salario_bruto_i_+_ii'].sum()

3232402.25

In [ ]:
df[df['reparticion'] == 'SECR Justicia y Seguridad']['total_salario_bruto_i_+_ii'].sum()

3029551.7300000004

Ahora respondamos algunas preguntas: ¿Quién o quiénes del dataset cobran el salario más alto? ¿Y el más bajo?

In [ ]:
df[df['total_salario_bruto_i_+_ii'] == df['total_salario_bruto_i_+_ii'].max()]

,cuil,anio,mes,funcionario_apellido,funcionario_nombre,reparticion,asignacion_por_cargo_i,aguinaldo_ii,total_salario_bruto_i_+_ii,observaciones
374,20-13872301-2,2019,12,ASTARLOA,GABRIEL MARIA,Procuración General de la Ciudad de Buenos Aires,275089.75,170855.56,445945.31,NaN

In [ ]:
df[df['total_salario_bruto_i_+_ii'] == df['total_salario_bruto_i_+_ii'].min()]

,cuil,anio,mes,funcionario_apellido,funcionario_nombre,reparticion,asignacion_por_cargo_i,aguinaldo_ii,total_salario_bruto_i_+_ii,observaciones
344,27-30744939-6,2019,12,FERRERO,GENOVEVA,SECR Administración de Seguridad y Emergencias,74991.86,110404.68,185396.54,baja al 9/12
348,20-22709722-2,2019,12,LOPEZ,MATIAS,SECR Desarrollo Ciudadano,74991.86,110404.68,185396.54,baja al 9/12
354,20-20008464-1,2019,12,GIUSTI,JOSE LUIS,UPE Transferencia de Funciones y Facultades en...,74991.86,110404.68,185396.54,baja al 9/12
358,20-31164337-2,2019,12,DI BENEDETTO,FEDERICO,SS Comunicacion,74991.86,110404.68,185396.54,baja al 9/12
360,20-28908968-4,2019,12,COELHO CHICANO,CHRISTIAN,SS Contenidos,74991.86,110404.68,185396.54,baja al 9/12
362,20-24424714-9,2019,12,D'ALESSANDRO,MARCELO SILVIO,SECR Justicia y Seguridad,74991.86,110404.68,185396.54,baja al 9/12

## Otros análisis descriptivos

Pandas viene con algunas funciones built-in para ayudar al análisis descriptivo.

### Para las variables numéricas

In [ ]:
df.describe()

,anio,mes,asignacion_por_cargo_i,aguinaldo_ii,total_salario_bruto_i_+_ii
count,385.0,385.000000,385.000000,385.000000,385.000000
mean,2019.0,6.631169,234234.368000,20282.084883,254516.452883
std,0.0,3.539077,35043.160085,45248.840725,51434.987870
min,2019.0,1.000000,74991.860000,0.000000,185396.540000
25%,2019.0,4.000000,224516.620000,0.000000,224516.620000
50%,2019.0,7.000000,239470.360000,0.000000,245811.620000
75%,2019.0,10.000000,249972.870000,0.000000,263531.980000
max,2019.0,12.000000,275089.750000,170855.560000,445945.310000

### Para las variables categóricas

In [ ]:
df['reparticion'].unique()

In [ ]:
df['reparticion'].value_counts()

SECR Desarrollo Ciudadano                                         13
Ministerio de Salud                                               13
SECR Justicia y Seguridad                                         13
SECR de Medios                                                    13
Jefe de Gobierno                                                  12
SECR Legal y Técnica                                              12
SS Contenidos                                                     12
Ente de Turismo Ley Nº 2627                                       12
Consejo de los Derechos de Niñas, Niños y Adoles - Presidencia    12
Vicejefatura de Gobierno                                          12
UPE Transferencia de Funciones y Facultades en Materia de Seg.    12
SECR Administración de Seguridad y Emergencias                    12
SECR Integración Social y Urbana                                  12
SECR Integración Social Para Personas Mayores                     12
SECR Planificación, Evaluación y Coordinación de Gestión          12
SS Comunicacion                                                   12
Ministerio de Gobierno                                            12
Ministerio de Desarrollo Urbano y Transporte                      12
Jefatura de Gabinete de Ministros                                 12
Procuración General de la Ciudad de Buenos Aires                  12
Sindicatura General de la Ciudad de Buenos Aires                  12
Ministerio de Cultura                                             12
SECR Transporte                                                   11
Ministerio de Educación e Innovación                              11
SECR Coordinación General                                         11
SECR Cultura Ciudadana y Función Pública                          11
SECR General y de Relaciones Internacionales                      11
Ministerio de Economía y Finanzas                                 11
Ministerio de Hábitat y Desarrollo Humano                         11
SECR Atención y Gestión Ciudadana                                 11
Ministerio de Ambiente y Espacio Público                          11
Ministerio de Espacio Público e Higiene Urbana                     2
SECR Ciencia, Tecnologia e Innovacion                              2
Ministerio de Desarrollo Humano y Hábitat                          2
SECR Desarrollo Urbano                                             1
Ministerio de Desarrollo Económico y Producción                    1
SECR Ambiente                                                      1
SECR Comunicación, Contenidos y Participación Ciudadana            1
SECR Atención Ciudadana y Gestión Comunal                          1
Ministerio de Educación                                            1
Ministerio de Hacienda y Finanzas                                  1
SECR Innovación y Transformación Digital                           1
SECR Transformación Cultural                                       1
SECR Transporte y Obras Públicas                                   1
SECR General y Relaciones Internacionales                          1
SECR Asuntos Estratégicos                                          1
Name: reparticion, dtype: int64

### Ejercicios Tiranic promedios

1) ¿Cuál era la edad promedio de los pasajeros de cada clase (Pclass)?

2) ¿Cuál fue la tarifa que pagaron en promedio los hombres? ¿Y las mujeres?

## Ordenar por columnas y limitar la cantidad de resultados

Otra forma de resolver el problema de encontrar el mayor y el menos es con el método sort_values. Este método puede recibir un valor único (nombre de columna) o una lista (con varias columnas) y un orden asc o desc. Por default el orden es asc.

Si combinamos el ordenamiento con el método head() para limitar la cantidad de resultados, podemos encontrar los N primeros.

In [ ]:
# Recordemos cómo abrir la documentación de un método
df.sort_values?

In [ ]:
# Calculamos el máximo
df.sort_values('total_salario_bruto_i_+_ii',ascending=False).head(1)

,cuil,anio,mes,funcionario_apellido,funcionario_nombre,reparticion,asignacion_por_cargo_i,aguinaldo_ii,total_salario_bruto_i_+_ii,observaciones
374,20-13872301-2,2019,12,ASTARLOA,GABRIEL MARIA,Procuración General de la Ciudad de Buenos Aires,275089.75,170855.56,445945.31,NaN

In [ ]:
# Calculamos el mínimo
df.sort_values('total_salario_bruto_i_+_ii').head(1)

,cuil,anio,mes,funcionario_apellido,funcionario_nombre,reparticion,asignacion_por_cargo_i,aguinaldo_ii,total_salario_bruto_i_+_ii,observaciones
344,27-30744939-6,2019,12,FERRERO,GENOVEVA,SECR Administración de Seguridad y Emergencias,74991.86,110404.68,185396.54,baja al 9/12