<a href="https://colab.research.google.com/github/mateosuster/pythonungs/blob/master/codigos/MPE_III_Ejercicios_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MPE III - Ejercicios con Pandas

## Problema armando un dataframe de cero

Construir un dataframe a partir de dos objetos tipo *Series* con información de provincias argentinas (no más de 5) de:
* superficie o área, **a partir de un diccionario**
* población, **a partir de dos listas** (una con el index y otra con el valor)

El índice del dataframe debe ser el nombre de las provincias, el cual debe ser común a las dos series independientemente construidas (de caso contrario, no se puede armar el dataframe correctamente).

Recordemos que:
* Una *Series* es un objeto similar a un vector unidimensional
* Contiene un array de valores y un array asociado de etiquetas de estos valores denominado como **índice**.
* Una Serie también puede ser pensada como un diccionario de tamaño fijo con sus claves ordenadas.
* Siempre es bueno revisar la documentación de las funciones. Prestar atención al parámetro index de la función [`pandas.Series()`](https://pandas.pydata.org/docs/reference/api/pandas.Series.html), el cual puede ser de utilidad para este ejercicio.

## Problema modificando índice

Modifique el índice del dataset anterior con nombres de municipios bonarenses. 

Nota: recuerde que para ver el índice de un DataFrame se puede usar el método `.index` al cual se le pueden asignar nuevos valores.

### Problema Titanic tarifa
Según el dataset del Titanic, ¿cuántos pasajeros pagaron una tarifa menor a 25?

### Problema sueldos meses
A partir del dataset de sueldos de funcionarios de CABA consulte aquellos registros entre los meses 2 y 4.

## Problema sueldos repartición

Filtre del dataset de sueldos las observaciones pertenecientes al Ministerio de Cultura o a la Procuración General de la Ciudad de Buenos Aires

### Problema traducción a query

Traduzca 2 ó 3 filtros de los problemas anteriores a la sintaxis query (Nota: hay que utilizar las función homónima). ¿Qué diferencia ve entre los códigos escritos con respecto al ejercicio anterior?

## Y más problemas de indexing con Titanic...

1) ¿Cuántos menores de 18 años había? ¿Cuántos sobrevivieron?

2) Seleccionen únicamente las columnas Sex y Survived y almacenenlas en un nuevo DataFrame que se llame df_titanic_subset.

## Problemas de agregación con Titanic.

1) ¿Cuánto pagaron en total los pasajeros de primera clase para subir al Titanic? ¿Y los de tercera?

2) ¿Cuántos pasajeros había en cada tipo de clase?